/* //TODO проблема с отображением страницы*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant";
}


html,
body,
body > div {
  font-family: "Ysabeau Infant";
  /* height: 100%; */
  width: 100%;
}
