.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  margin-left: 30px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  border: 0.8px solid rgb(220, 220, 220);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.liContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 25px !important;
}

.button {
  width: 100%;
  border-radius: 0 !important;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerFive {
  color: rgba(90, 90, 90, 0.833);
  font-size: 1rem;
  margin-bottom: 10px;
}

.pFive {
  color: rgba(0, 0, 0, 0.833);
  font-weight: 500;
  width: 500px;
  margin-top: 0px !important;
}

.customColButton {
  padding: 5px 10px;
  border: 1px solid rgba(90, 90, 90, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.inputColFile {
  display: none;
}

/* .statusMsgCol {
  height: 34px;
} */

@media screen and (max-width: 767px) {
  .mainDiv {
    margin: 0 10px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .containerButton {
    width: 100%;
  }

  .pFive {
    width: 85vw;
    max-width: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainDiv {
    margin: 0 30px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .containerButton {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .pFive {
    width: 85vw;
    max-width: none;
  }
}
