.container-xs {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1240px;
  margin-top: 80px;
}

.order {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  align-items: start;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 320px;
}

.order__form {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
}

.order__block,
.order__block--basket {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 60px;
}

.basket-item__left {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-right: 8px;
  position: relative;
}
.basket-item__right {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
}

.basket-item__left > a > img {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-decoration-skip-ink: auto;
  box-sizing: border-box;
  display: block;
  max-height: 100px;
  max-width: 72px;
  object-fit: contain;
  width: 72px;
  margin-top: 10px;
  margin-right: 10px;
}

.basket-item {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  align-items: flex-start;
  /* border-bottom: 1px solid #e9e9e9; */
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  padding: 16px 0;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #e9e9e9;
  /* box-sizing: border-box;  */
}

.basket-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
}

.basket-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
}
.basket-item__right > div:nth-child(1) {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.order__block,
.order__block--summary {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  margin-bottom: 60px;
  position: sticky;
  top: 130px;
}
.order__block.order__block--summary
  > p.order__description.order__description--online-payment {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
  line-height: 20px;
  padding: 8px 12px;
}
.order-summary {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.summary {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
}
.order-summary__row {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.item-prices {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
}
.item-prices__price {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
}
.order-summary--total {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}
.button,
.button--block,
.button--big,
.button--bordered .order__button {
  box-sizing: border-box;
  font: inherit;
  align-items: center;
  background-color: #fff;
  box-shadow: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  flex-flow: row nowrap;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 18px;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 12px;
}
.order__description {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #999;
  line-height: 12px;
}
.basket-item__right > div > button {
  box-sizing: border-box;
  font: inherit;
  align-items: center;
  background-color: #eee;
  border: none;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 18px;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  padding: 0;
  flex: 0 1 30px;
}
.basket-item__title {
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  color: #000;
  width: 100%;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.basket-item__content,
.basket-item__content--center {
  width: 100%;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.header-item-cart {
  margin-bottom: 20px;
}

.error-msg-cart {
  margin-bottom: 30px;
}

.promocode-input {
  box-sizing: border-box;
  font: inherit;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  padding: 8px 16px 8px 16px;
  width: 100%;
  z-index: 2;
}

.order__block,
.order__block--deliveries {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 160px;
  margin-top: -120px;
}

.order__property {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
}
.input-location {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
}

.form-control,
.form-control--active {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  align-items: stretch;
  background-color: #fff;
  /* border: 1px solid #e9e9e9; */
  border: none;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
}
.form-control__label,
.form-control__label--visible {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  background-color: #eee;
  display: flex;
  font-weight: 400;
  left: 10px;
  line-height: 20px;
  padding: 0 6px;
  color: #000;
  font-size: 14px;
  top: -2px;
  padding-left: 10px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  width: 100%;
  /* position: absolute; */
  /* transform: translateY(-50%); */
  transition: all 0.3s ease;
  /* z-index: 1; */
  /* opacity: 1; */
}
.form-control__control {
  box-sizing: border-box;
  font: inherit;
  background-color: transparent;
  border: none;
  display: block;
  /* flex: 1 0 100%; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 100%;
  outline: none;
  padding: 14px 52px 14px 16px;
  /* z-index: 2; */
}
.form-control__buttons {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000;
  box-sizing: border-box;
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
}

.form-control__messages {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  font-weight: 400;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
}
.form-block {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  margin-bottom: 16px;
  padding: 16px 16px;
  border-color: #000;
}

.form-block.comment-cart {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  margin-bottom: 16px;
  padding: 6px 16px 16px;
  border-color: #000;
}

.checkbox,
.checkbox--bordered,
.checkbox--active,
.checkbox--radio,
.checkbox--right {
  /* text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 12px 0;
  position: relative;
  user-select: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; */
}
.checkbox-icon {
  accent-color: #000;
}

.checkbox__label {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-weight: 400;
  margin-right: 10px;
  margin-top: -1px;
}
.checkbox__header {
  text-rendering: optimizeSpeed;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -2px;
  margin-left: 13px;
}
.checkbox__description {
  text-rendering: optimizeSpeed;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  margin-left: 26px;
}
.checkbox__control {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  display: block;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  position: relative;
  transition: all 0.3s ease;
  width: 20px;
  border-radius: 50%;
  border-color: #000;
  margin-right: 12px;
  order: -1;
  background-color: rgb(255, 255, 255);
}
.delivery-service {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
}
.delivery-service__form {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
}
.input-location {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
}
.form-control__buttons {
  text-rendering: optimizeSpeed;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000;
  box-sizing: border-box;
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
}

.empty-cart-msg {
  margin: 15% auto;
  font-size: 1.7rem;
}
.empty-cart-msg > a {
  font-style: italic;
}
.order-status-cart {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 499px) {
  .container-xs {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .order {
    grid-template-columns: 1fr;
  }

  .basket-item__right {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .basket-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .basket-item__delete-button {
    cursor: pointer;
    background-color: #999;
  }

  .order-summary--total {
    font-size: 18px;
    line-height: 26px;
  }

  .button,
  .button--block,
  .button--big,
  .button--bordered .order__button {
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .order__description {
    font-size: 12px;
    line-height: 16px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .basket-item__left > a > img {
    margin-top: 10px;
    max-height: 88px;
    width: 69px;
  }

  .order__property {
    font-size: 12px;
    line-height: 16px;
  }

  .form-control,
  .form-control--active {
    font-size: 12px;
    line-height: 16px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .form-control__label,
  .form-control__label--visible {
    font-size: 14px;
    line-height: 16px;
  }

  .form-control__control {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 42px 10px 12px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .delivery-service__form {
    font-size: 12px;
    line-height: 16px;
    width: 100%; /* Set the width to 100% to fit the parent container */
  }

  .empty-cart-msg {
    margin: 35% 10px;
    font-size: 1.3rem;
  }

  .order-status-cart {
    font-size: 1.2rem;
  }

  .basket-item__title {
    margin-right: 8px;
  }

  .basket-item__left > a > img {
    max-height: 200px;
    max-width: 90px;
    width: auto;
  }
}

/* @media screen and (max-width: 499px) {
  .container-xs {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .order {
    grid-template-columns: 1fr;
  }

  .basket-item__right {
    display: flex;
    flex-direction: column;
  }

  .basket-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .basket-item__delete-button {
    cursor: pointer;
    background-color: #999;
  }

  .order-summary--total {
    font-size: 18px;
    line-height: 26px;
  }

  .button,
  .button--block,
  .button--big,
  .button--bordered .order__button {
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
  }

  .order__description {
    font-size: 12px;
    line-height: 16px;
  }

  .basket-item__left > a > img {
    margin-top: 10px;
    max-height: 88px;
    width: 69px;
  }

  .order__property {
    font-size: 12px;
    line-height: 16px;
  }

  .form-control,
  .form-control--active {
    font-size: 12px;
    line-height: 16px;
  }

  .form-control__label,
  .form-control__label--visible {
    font-size: 12px;
    line-height: 16px;
  }

  .form-control__control {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 42px 10px 12px;
  }

  .delivery-service__form {
    font-size: 12px;
    line-height: 16px;
  }

  .empty-cart-msg {
    margin: 35% 10px;
    font-size: 1.3rem;
  }

  .order-status-cart {
    font-size: 1.2rem;
  }

  .basket-item__title {
    margin-right: 8px;
  }

  .basket-item__left > a > img {
    max-height: 200px;
    max-width: 90px;
    width: auto;
  }
} */

@media screen and (min-width: 500px) and (max-width: 900px) {
  .empty-cart-msg {
    margin: 30% 20px;
    font-size: 1.8rem;
  }

  .order {
    display: flex;
    flex-direction: column;
  }
  .order__form {
    width: 100%;
  }

  .order__block--deliveries {
    width: 100%;
  }

  .order__block,
  .order__block--summary {
    width: 100%;
  }

  .pc-err {
    font-size: 1.4rem;
  }
}

textarea {
  resize: none;
}
